body {
  /* Margin bottom by footer height */
  max-height: 100%;
  padding:0; 
  margin:0;
}


/*.wrapper {
  overflow-y:auto;
  position:absolute; 
  top: 50; 
  bottom:100; 
  left:0; 
  right:0;
  max-height: 80%;
}*/

.row.container-fluid {
  padding-top: 115px;
  padding-bottom: 65px; 
  padding-left: 20px;
  padding-right: 20px;
  height: calc(100% - 130px);
  overflow-y: scroll;
}

td.details-control {
  background: url('../img/More.png') no-repeat center center;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
}
tr.shown td.details-control {
  background: url('../img/Less.png') no-repeat center center;
  background-repeat: no-repeat;
  background-position: center;
}

tr.unavailable td.details-control {
  background: url('../img/Ban.png') no-repeat center center;
  background-repeat: no-repeat;
  background-position: center;
}

table {
  table-layout:fixed;
  width: 90%;
}

table td {
  word-wrap:break-word;
}

.dropup {
  position: relative;
}

.dropdown-menu {
  position: absolute;
  top: 100%; /* Bottom of button */
  right: 0;
  margin-left: -100px; /* More to the left */
}

@media (min-width: 768px) {
  .modal-xl {
    width: 90%;
   max-width:1200px;
  }
}

/* xs < 768 */
@media screen and (max-width: 767px) {
    body {
        font-size: 0.9em;
    }
}

/* sm */
@media screen and (min-width: 768px) {
    body {
        font-size: 1em;
    }
}

/* md */
@media screen and (min-width: 992px) {
    body {
        font-size: 1.2em;
    }
}

/* lg */
@media screen and (min-width: 1200px) {
    body {
        font-size: 1.3em;
    }
}