body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  overflow:hidden;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

.wrapper {
  overflow-y:auto;
  position:absolute; 
  top: 50; 
  bottom:100; 
  left:0; 
  right:0;
  max-height: 80%;
}

.container {
	width: auto;
	padding: 0 15px;
}

@media (min-width: 768px) {
  .modal-xl {
    width: 90%;
   max-width:1200px;
  }
}