<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">
        <title>Registration successful</title>

        <style>
            body {
                padding-top: 5px;
                padding-bottom: 5px;
            }

            table thead, table tbody {
                background-color: #FFFFFF;
            }

            thead {
                border-bottom: 1px solid #333333;
            }

            .name {
                color: #0275d8;
            }
        </style>

    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="jumbotron">
                    <br>
                    <center>
                        <h1 class="display-4">Hello <span class="name">{{first_name}} {{last_name}}</span></h1>
                        <p>Your new Access-Token has been generated!</p>
                    </center>
                    <br>
                    <hr>
                    <section>
                        <code>{{app_hash}}</code>
                    </section>
                    <br>
                    <hr>
                    <center>
                        <p>To deactivate your app, you need to click on this url and follow the instructions. An email will be send to you.</p>
                        <a href='"http://giv-oct2.uni-muenster.de:8080/api/reset/' + '{{app_hash}}"'>http://giv-oct2.uni-muenster.de:8080/api/reset/{{app_hash}}</a>
                    </center>
                    <br>
                    <center>
                        <small><b>OCT</b> by <a href="https://www.uni-muenster.de/Geoinformatics/en/index.html" target="_blank">Institute for Geoinformatics</a><br>
                        Heisenbergstraße 2 • 48149 • Münster • Germany</small>
                    </center>
                </div>
            </div>
        </div>
    </body>
</html>
